/*external CSS*/
.para{
    background-color: burlywood;
    color: #cc2424;/*Hexcodes are important because red can be different for 2 browsers but hexcode will be same*/
    margin: 100px;/*space from corners*/
    padding: 100px;/*space from inside*/
}
.practice{
    color: aqua;
    background-color: blueviolet;
    margin: 50px 30 px;
    padding-top: 50px;/*to give padding only from top*/
    border: 5px solid #cc2424;/*width style color*/
}
body{
    background-image: url(https://images.pexels.com/photos/2873669/pexels-photo-2873669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.lor{
    color: #afea8f;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: right;
    font-family:'Courier New', Courier, monospace;/*to add it from the google font first add link to head then font family over here*/
    font-weight: 700;
    font-size: larger;/*can add in px as well*/
    line-height: 160px;/*distance between 2 lines*/
}
.container{
    border:10px solid #00FFFF ;
    display: flex;/*takes the elements inside a row*/
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;/*only work when flex-direxion is column*/
    gap: 10px 10px;/*10 px gap between row column*/

}
.box{
    height: 100px;
    width: 100px;
    border: 5px solid  #00FFFF;
    margin: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 250px 250px 250px;/*one more way to write it :repeat(3,1fr);*/
    grid-template-rows: 1000px 100px;
    gap: 20px 20px;/*:row column;*/
    border:3px solid #cc2424; 
}
.grid-items{
    height: 100px;
    width: 100px;
    border: 2px solid #afea8f;
}
.one{
    grid-column-start:1;
    grid-column-end: 4;/*same goes for the row*/
}