/* 2D Transform */
.box {
  width: 400px;
  height: 400px;
  background-color: beige;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: auto; */

  transition: all 3s linear 1s;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  /* transform: rotate(360deg); */
  /* transform: scale(2); */

  /* transform: scale(0.5);
    transform: rotate(45deg); */

  /* transform: skew(-45deg); */

  /* shorthand notation  */
  /* transform: matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())*/

  transform: translate(200px, 200px); /* X and Y direction */
}

p {
  font-size: 36px;
}
